<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/cms/tests" />
        <option value="$PROJECT_DIR$/reports/tests" />
        <option value="$PROJECT_DIR$/framework/tests" />
        <option value="$PROJECT_DIR$/siteconfig/tests" />
      </list>
    </option>
  </component>
</project>